
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tournaments</h2>
<p>Tournament information will be implememnted later. Possibly as a premium member benefit.</p>

