@page
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    @Html.Partial("InterestsPartial")
			        @Html.Partial("InterestsFormPartial")
				</div>
			</div>
		</div>
	